
.ancorPane {
    -fx-background-color: rgba(201, 188, 180, 0.2)
}


#TextField {
    -fx-cursor: text;
    -fx-background-color: antiquewhite;
    -fx-border-color: red;
}

.button {
    -fx-border-color: #3483ba;
    -fx-text-fill: #3483ba;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-font-family: Verdana;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-border-radius: 5;
}

.regButton {
    -fx-border-color: #3483ba;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:#388DC8 ;
    -fx-font-family: Verdana;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #388DC8;
    -fx-font-family: Verdana;
    -fx-border-color: #388DC8;
}

.button:pressed {
    -fx-border-color: #3483ba;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #388DC8;
    -fx-font-family: Verdana;

}